<div>
    <div>{{title}}</div>
    <div>{{description}}</div>
    <div id="basePrice" style="display:none">{{basePrice}}</div>
    <form action="/process" method="post">

        <div class="am-g am-padding-top am-padding-bottom">
            {{#each btnBlocks}}
                <div class="am-u-sm-12">
                    <p>{{btnBlockTitle}}</p>

                    <p>{{btnBlockDescription}}</p>

                    <div class="am-btn-group doc-js-btn-1" data-am-button>
                        {{#each btns}}
                            <label class="am-btn am-btn-primary">
                                <input type="{{../btnsType}}" name="{{../btnsName}}" id="{{btnId}}"
                                       value="{{price}}">{{btnText}}
                            </label>
                        {{/each}}
                    </div>
                </div>
            {{/each}}
        </div>

        <div class="am-u-sm-12 am-form-horizontal am-margin-top">
            {{#each inputBoxs}}
                <div class="am-form">
                    <label class="am-u-sm-2 am-form-label">{{boxTitle}}</label>

                    <div class="am-u-sm-10">
                        <input type="text" id="{{boxId}}" placeholder="{{boxPlaceholder}}" name="{{boxName}}">
                    </div>
                </div>
            {{/each}}
        </div>

        <div div style="display:none">
            <input type="text" id="hiddenUpdate" name="hiddenUpdate">
        </div>

        <div class="am-text-center am-margin-top">
            <label>
                <button type="submit" class="am-btn am-btn-success">提交登入</button>
            </label>
        </div>
    </form>
</div>

<div id="calcprice"></div>
<script src="http://lib.sinaapp.com/js/jquery/1.7.2/jquery.min.js"></script>
<script src="javascripts/quistionnaire.js"></script>
